.container:first-child{
    margin: 0 auto;
    height: 300px;
    width:300px;
    margin-top: 15%;
    background-color: cadetblue;
}
.btn:last-child{
    margin-left: 100px;
}
form .btn{
    width: 75px;
}
